* {
  margin: 0 0;
}

body {
  height: 1000px;
  background-color: #E5E5E5;
}

nav {
  position: fixed;
  width: 100%;
  margin-right: 0;
  z-index: 100;
}



.nav-container {
  background-color: #242F40;
  color: #CCA43B;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

#nav-title {
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 4px;
  margin-left: 10px;
  font-family: 'Anton', sans-serif;
}

#searchInput {
  border-radius: 15px;
  padding: 10px;
  padding-left:10px;
  font-size: 15px;
  
}

#submitBtn {
  border-radius: 20px;
  width: 38px;
  height: 38px;
}

.search-container {
  display: flex;
  justify-content: center;
}

#search-background{
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 8px;
}

#jumbo-search {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#home-search {
  border-radius: 15px;
  padding: 10px;
  padding-left:10px;
  font-size: 15px;
}

#home-submit {
  border-radius: 15px;
  width: 50%;
  align-self: center;
  margin-top: 20px;
  padding: 3px;
  
}
